header
{
	position:absolute;
	top:0;
	height:100px;
	width:100vw;
	background-color: rgba(0, 0, 0, 0.647);
	z-index: 1;
	color: white;
	align-items: center;
	padding-left: 15px;
	display: flex;
	font-size: 1.6rem;
	justify-content:space-between;
	

	& .logo:hover
	{
		color: darken($color: white, $amount: 20);
	}	
	
	& nav
	{			
		& ul
		{
			margin-right: 20px;
			display: flex;				
			& li
			{
				margin-right:20px;
				&:hover
				{
					color: darken($color: white, $amount: 20);
				}
			}
		}
	}
}