
.books
{
	display: flex;
	flex-wrap: wrap;
	max-width: 960px;
	margin: auto;

	& .card 
	{
		flex-basis: 20%;
		padding: 10px;
		& >div 
		{
			border: 2px solid black;
			height:40px;
			padding: 5px;
			font-weight: 700;
			
		}
		& img
		{
			border-radius: 5px;
			width:200px;
			height: 18em;
		}
	}
}