.modalBackground
{
	height:100vh;
	width:100vw;
	background-color: rgba(0, 0, 0, 0.599);
	position:fixed;
	display: flex;
	justify-content:center;
	align-items:center;
	top: 0;
	left: 0;
	z-index: 2;
	cursor:pointer;

	& .modalContainer
	{
		width:40%;
		background-color:#d8d8d8;
		padding: 15px;
		border-radius: 10px;
		max-height: 80vh;
		& .modalImg
		{
			// max-width:100%;
			display: flex;
			justify-content:center;
			align-items:center;
			margin-bottom:20px;
			padding: 1px;
			overflow: hidden;
			& >div
			{
				height:80%;
				& img
				{
					max-height:50vh;
				}
			}
			
		} 
		& .modalHeader
		{
			margin-bottom: 10px;
			& h2
			{
				font-size:1.4rem;
			}
		}
		& .modalBody
		{
			font-size: 1.1rem;
			margin-bottom: 10px;
		}
		& .modalFooter
		{
			& button
			{
				color: white;
				padding: 10px;
				border-radius: 10px;
				$btnColor:rgb(43, 43, 43) ;
				background-color: $btnColor;
				cursor:pointer;
				&:hover
				{
					background-color: lighten($color: $btnColor, $amount: 20) 

				}
			}
		}	
	}
}