.title
{
	text-align: center;
	font-size: 1.7rem;
	margin-bottom: 20px;
	width: 100%;

}

.container 
{
	max-width: 960px;
	margin: auto;
	font-size: 1.2rem;
	padding: 20px;
	
	& h2
	{
		margin-bottom: 10px;
	}
}